@import '../../variables';

.sub-header {
  display: flex;
  gap: map-get($spacers, 4\.5);
  align-items: center;

  .sub-header-actions {
    margin-bottom: 1.75rem;
    align-self: flex-end;
  }
}

.sub-header-container {
  padding: 18px 24px !important;
  overflow: hidden;

  .actions-btns {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.sub-header-title {
  // font: normal $font-weight-bold 2rem/2.25rem $font-family-base;
  color: $v2-black-400;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  .sub-header-title-subtitle,
  .sub-header-breadcrumbs {
    font: normal $font-weight-normal .875rem/1.5rem $font-family-base;
    display: block;
    color: $text-color-base;
  }
}

.sub-header-title.problem-title {
  // font-family: Proxima Nova;
  font-weight: 600;
  font-size: 16px !important;
  color:$v2-black-600 !important;
}

.xblock-button {
  height:56px;
  padding: 16px 24px;
  border: 1px solid #0000001F !important;
  border-radius: 16px;
  // font-family: Proxima Nova;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.sub-header-content-title {
  font: normal $font-weight-normal 1.375rem/1.5 $font-family-base;
  margin-bottom: 0;
  color: $black;
}

.sub-header-instructions {
  font: normal $font-weight-normal .875rem/1.5rem $font-family-base;
  color: $text-color-base;
}

.sub-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 12px;
}