.expandable-mce {
  .error {
    outline: 2px solid #CA3A2F;
  }

  .mce-content-body {
    outline: none !important;
    border: 1px solid #0000001F;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;

    p {
      margin: 0;
    }

    blockquote {
      margin: 16px 40px;
    }

  }

  .mce-content-body[data-mce-placeholder] {
    position: relative;
    /* font-family: Proxima Nova; */
    font-weight: 400;
    // font-style: Regular;
    font-size: 14px;
    // leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  *[contentEditable="false"] {
    outline: none !important;
  }

  *[contentEditable="true"] {
    outline: none !important;

    &:focus,
    &:active {
      outline: none !important;
    }
  }
}