@media (max-width: 360px) {
  .course-tabs-navigation {
    padding-top: 17px;
    padding-bottom: 17px;

    .container-fluid {
      width: max-content;
      overflow: auto;
      padding: 0 16px !important;
    }
  }
}

.course-tabs-navigation {
  position: relative;
  padding-top: 1rem;
  overflow: auto;


  // border-bottom: solid 1px #eaeaea;

  // .nav a,
  // .nav button {
  //   &:hover {
  //     background-color: $light-400;
  //   }
  // }

  // .nav a {
  //   &:not(.active):hover {
  //     background-color: $light-400;
  //     border-bottom: none;
  //   }
  // }

  .nav {

    button,
    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #00000099;
      height: fit-content;
      border-radius: 12px;
      padding: 8px 10px;
      height: 30px;

      &.active {
        background-color: white;
        border: 1px solid #0000001F;
        color: #000000CC;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .nav-menu {
    flex: 1;
  }

  .search-toggle {
    flex-grow: 0;
    text-align: right;
    white-space: nowrap;
    margin-bottom: 10px;
  }


}