.section-card {
  flex-grow: 1;

  .section-card__subsections {

    // margin-top: $spacer;
     .unit-card:last-child {
      &:hover .item-card-header {
        background-color: $v2-info-500 !important;
        border-radius: 0 0 16px 16px !important;

        button {
          opacity: 1;
        }
      }
    }
  }

  .item-card-header {
    padding: 10px 16px 10px 50px;
    
    &.section-item-header{
      height: 68px;
    }
  }

  .btn-tertiary:not(:disabled, .disabled):active,
  .btn-tertiary:not(:disabled, .disabled).active,
  .show>.btn-tertiary.dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
  }

  .btn-tertiary.focus::before,
  .btn-tertiary:focus::before {
    border: none !important;
    background-color: transparent !important;
  }

  .section-card-title {
    // font-size: $h4-font-size;
    // font-family: $headings-font-family;
    // font-weight: $headings-font-weight;
    // line-height: $headings-line-height;
    // color: $headings-color;
    padding-left: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    // letter-spacing: 0%;
    color: #000000CC;
        overflow: hidden;
    text-overflow: ellipsis;
  }

  .section-card__content {
    margin-left: 1.7rem;
  }
}

.btn-icon__drag {
  width: auto;
  position: absolute;
  top: 11px;
  left: 10px;
}

.btn-icon__drag:hover {
  background-color: transparent !important;
  color: black !important;
}