.section-card {
  flex-grow: 1;

  .section-card__subsections {

    // margin-top: $spacer;
    .unit-card:last-child {
      &:hover .item-card-header {
        button {
          opacity: 1;
        }
      }
    }

    .unit-item-header{
      min-height: 48px;
    }

    div.row:hover .unit-item-header {
      background-color: $v2-info-500 !important;
    }
  }

  .section-card__subsections>div.row:last-child .unit-item-header {
    border-radius: 0 0 16px 16px !important;
  }

  .item-card-header {
    padding: 10px 16px 10px 45px;

    &.section-item-header {
      height: 68px;

      &:hover {
        background-color: $v2-info-500 !important;

        &.expanded {
          border-radius: 16px 16px 0 0 !important;
        }

        &.collapsed {
          border-radius: 16px !important;
        }
      }
    }
  }

  .btn-tertiary:not(:disabled, .disabled):active,
  .btn-tertiary:not(:disabled, .disabled).active,
  .show>.btn-tertiary.dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
  }

  .btn-tertiary.focus::before,
  .btn-tertiary:focus::before {
    border: none !important;
    background-color: transparent !important;
  }

  .section-card-title {
    // font-size: $h4-font-size;
    // font-family: $headings-font-family;
    // font-weight: $headings-font-weight;
    // line-height: $headings-line-height;
    // color: $headings-color;
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    // letter-spacing: 0%;
    color: #000000CC;
    overflow: visible;
    text-overflow: ellipsis;
  }

  .section-card__content {
    margin-left: 1.7rem;
  }
}

.btn-icon__drag {
  width: auto;
  position: absolute;
  top: 12px;
  left: 0px;
}

.btn-icon__drag:hover {
  background-color: transparent !important;
  color: black !important;
}