@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";
@import "~@edx/frontend-component-header/dist/index";
@import "assets/scss/variables";
@import "assets/scss/form";
@import "assets/scss/utilities";
@import "assets/scss/animations";
@import "pages-and-resources/discussions/app-list/AppList";
@import "advanced-settings/scss/AdvancedSettings";
@import "grading-settings/scss/GradingSettings";
@import "studio-home/scss/StudioHome";
@import "generic/styles";
@import "schedule-and-details/ScheduleAndDetails";
@import "course-team/CourseTeam";
@import "course-updates/CourseUpdates";
@import "export-page/CourseExportPage";
@import "import-page/CourseImportPage";
@import "taxonomy";
@import "library-authoring";
@import "files-and-videos";
@import "content-tags-drawer";
@import "course-outline/CourseOutline";
@import "course-unit/CourseUnit";
@import "course-checklist/CourseChecklist";
@import "textbooks/Textbooks";
@import "content-tags-drawer/ContentTagsDropDownSelector";
@import "content-tags-drawer/ContentTagsCollapsible";
@import "search-modal";
@import "search-manager";
@import "certificates/scss/Certificates";
@import "group-configurations/GroupConfigurations";
@import 'variables';

// To apply the glow effect to the selected Section/Subsection, in the Course Outline
div.row:has(> div > div.highlight) {
  animation: 5s glow;
  animation-timing-function: cubic-bezier(1, 0, .72, .04);
}

// To apply the glow effect to the selected xblock, in the Unit Outline
div.xblock-highlight {
  animation: 5s glow;
  animation-timing-function: cubic-bezier(1, 0, .72, .04);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 5px $primary-500;
  }

  100% {
    box-shadow: unset;
  }
}

body {
  background-color: $v2-info-400;

  .editor-page {
    background-color: $v2-info-400;
  }
}

mark {
  padding: 0;
}

.pgn__modal-fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh !important;
  overflow: auto;
  background-color: white;
  border-radius: 24px;
  z-index: 9;
}


// header community
.main-course-header {
  background-color: $v2-white-100 !important;
  padding: 15px !important;
  border-bottom: 1px solid $v2-black-500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  h1 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    color: $v2-black-400 !important;
    margin: 0;
  }
}

.community-header {
  border-bottom: 1px solid $v2-black-500;
  padding: 15px !important;
  background-color: $v2-white-100 !important;
}

.course-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-image {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid $v2-black-500;
}

.course-title {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  letter-spacing: 0% !important;
  color: $v2-black-600 !important;
  margin: 0;
}

.course-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button {
  background-color: $v2-white-100;
  border: 1px solid $v2-black-500;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: $v2-black-400;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  overflow: hidden;
}

.btn-filled,
.btn-primary,
.btn-outline-primary {
  width: fit-content !important;
  background-color: $v2-blue-600 !important;
  border-color: $v2-blue-600 !important;
  color: $v2-white-100 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
}

.btn-outline-secondary {
  width: fit-content !important;
  background-color: transparent !important;
  border-color: $v2-blue-600 !important;
  color: $v2-blue-600 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
}
.btn-outline-third {
  height: fit-content !important;
  padding: 6px 12px !important;
  width: fit-content !important;
  background-color: transparent !important;
  border-color: $v2-black-500 !important;
  color: $v2-black-400 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
}

// common card
.card,
.raised-card {
  background-color: $v2-white-100 !important;
  border: 1px solid $v2-black-500 !important;
  border-radius: 12px !important;
  box-shadow: none !important;

  h2 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    // color: $v2-black-400 !important;
  }

  ul li,
  ol li {
    padding: 4px 0;
    ;

    button,
    a {
      color: $v2-black-300;
    }
  }
}