@import 'https://cdn.jsdelivr.net/npm/@dannymichel/proxima-nova@4.5.2/index.min.css';
@import 'variables';
@import 'base/module';

$font-family-base: 'Proxima Nova' !important;

@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";
@import "~@edx/frontend-component-header/dist/index";
@import "assets/scss/variables";
@import "assets/scss/form";
@import "assets/scss/utilities";
@import "assets/scss/animations";
@import "pages-and-resources/discussions/app-list/AppList";
@import "advanced-settings/scss/AdvancedSettings";
@import "grading-settings/scss/GradingSettings";
@import "studio-home/scss/StudioHome";
@import "generic/styles";
@import "schedule-and-details/ScheduleAndDetails";
@import "course-team/CourseTeam";
@import "course-updates/CourseUpdates";
@import "export-page/CourseExportPage";
@import "import-page/CourseImportPage";
@import "taxonomy";
@import "library-authoring";
@import "files-and-videos";
@import "content-tags-drawer";
@import "course-outline/CourseOutline";
@import "course-unit/CourseUnit";
@import "course-checklist/CourseChecklist";
@import "textbooks/Textbooks";
@import "content-tags-drawer/ContentTagsDropDownSelector";
@import "content-tags-drawer/ContentTagsCollapsible";
@import "search-modal";
@import "search-manager";
@import "certificates/scss/Certificates";
@import "group-configurations/GroupConfigurations";
@import 'variables';

html>body>#root,
* {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  font-family: 'Proxima Nova' !important;
  line-height: 100%;
  letter-spacing: .5px !important;
}

// To apply the glow effect to the selected Section/Subsection, in the Course Outline
div.row:has(> div > div.highlight) {
  animation: 5s glow;
  animation-timing-function: cubic-bezier(1, 0, .72, .04);
}

// To apply the glow effect to the selected xblock, in the Unit Outline
div.xblock-highlight {
  animation: 5s glow;
  animation-timing-function: cubic-bezier(1, 0, .72, .04);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 5px $primary-500;
  }

  100% {
    box-shadow: unset;
  }
}

body {
  background-color: $v2-info-400;

  .editor-page {
    background-color: $v2-info-400;
  }
}

mark {
  padding: 0;
}

.pgn__modal-fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh !important;
  overflow: auto;
  background-color: white;
  border-radius: 24px;
  z-index: 9;
}


// header community
.main-course-header {
  background-color: $v2-white-100 !important;
  padding: 15px !important;
  border-bottom: 1px solid $v2-black-500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  h1 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    // letter-spacing: 0% !important;
    color: $v2-black-400 !important;
    margin: 0;
  }
}

.community-header {
  border-bottom: 1px solid $v2-black-500;
  padding: 15px !important;
  background-color: $v2-white-100 !important;
}

.course-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-image {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid $v2-black-500;
}

.course-title {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  // letter-spacing: 0% !important;
  color: $v2-black-600 !important;
  margin: 0;
}

.course-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button {
  background-color: $v2-white-100;
  border: 1px solid $v2-black-500;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  // letter-spacing: 0%;
  vertical-align: middle;
  color: $v2-black-400;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  overflow: hidden;
}

.btn-filled,
.btn-filled>span>span,
.btn-primary,
.btn-primary>span>span,
.btn-outline-primary>span>span,
.btn-outline-primary {
  width: fit-content !important;
  // padding: 6px 12px !important;
  background-color: $v2-blue-600 !important;
  border-color: $v2-blue-600 !important;
  color: $v2-white-100 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  // letter-spacing: 0% !important;
  vertical-align: middle !important;
}

.btn-outline-secondary {
  width: fit-content !important;
  background-color: transparent !important;
  border-color: $v2-blue-600 !important;
  color: $v2-blue-600 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  // letter-spacing: 0% !important;
  vertical-align: middle !important;
}

.btn-outline-third {
  height: fit-content !important;
  // padding: 6px 12px !important;
  width: fit-content !important;
  background-color: white !important;
  border-color: $v2-black-500 !important;
  color: $v2-black-400 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  // letter-spacing: 0% !important;
  vertical-align: middle !important;
}

._btn-sm {
  padding: 6px 12px !important;
}

// common card
.card,
.raised-card {
  background-color: $v2-white-100 !important;
  border: 1px solid $v2-black-500 !important;
  border-radius: 12px !important;
  box-shadow: none !important;

  h2 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    // letter-spacing: 0% !important;
    // color: $v2-black-400 !important;
  }

  ul li,
  ol li {
    padding: 4px 0;

    button,
    a {
      color: $v2-black-300;
    }
  }
}

// _forms.scss
.section-card {
  .item-card-header {
    .dropdown {
      opacity: 0;
    }

    &:hover {
      .dropdown {
        opacity: 1;
      }
    }

    .btn-icon.btn-icon-primary.focus,
    .btn-icon.btn-icon-primary:focus {
      box-shadow: none;
    }

    .btn-icon.btn-icon-primary.hover,
    .btn-icon.btn-icon-primary:hover,
    .btn-icon.btn-icon-primary.active,
    .btn-icon.btn-icon-primary:active {
      background-color: $v2-info-200;
      color: #0A3055;
    }
  }

  .form-control,
  .form-control:focus-visible,
  .form-control:focus-within,
  input.form-control:focus {
    height: 36px;
    border: 1px solid #0000001F;
    outline: none !important;
    // font-weight: 600;
    color: #000000CC;
    box-shadow: none !important;
    // font-family: Proxima Nova;
    font-weight: 600;
    font-style: semibold;
    font-size: 16px;
    // leading-trim: NONE;
    line-height: 100%;
    // letter-spacing: 0%;
  }

  .unit-card {
    .form-control,
    .form-control:focus-visible,
    .form-control:focus-within,
    input.form-control:focus {
      font-weight: 400;
    }

    .btn-icon.btn-icon-primary.focus,
    .btn-icon.btn-icon-primary:focus {
      box-shadow: none;
    }

  }

}

.card.dropdown-menu a {
  border-radius: 8px;
  // font-family: Proxima Nova;
  font-weight: 400;
  // font-style: Regular;
  font-size: 14px;
  // leading-trim: NONE;
  line-height: 100%;
  // letter-spacing: 0%;
  color: #000000CC;
  border: none;
  padding: 8.5px 16px;
}

// common css utilities
.pgn__form-checkbox-input,
.pgn__form-radio-input,
.pgn__form-checkbox-input:focus,
.pgn__form-radio-input:focus {
  border-radius: 4px;
  background: #FFFFFF;
  border: 1.5px solid #0000001F;
  background-position: center !important;
}

.pgn__form-checkbox-input:not(:disabled):hover,
.pgn__form-radio-input:not(:disabled):hover,
.pgn__form-switch-input:not(:disabled):hover {
  box-shadow: none;
}

.pgn__form-checkbox-input:focus::before,
.pgn__form-radio-input:focus::before {
  border: none !important;
}

.editProblemView .answer-option .pgn__form-checkbox+.pgn__form-label,
.editProblemView .answer-option .pgn__form-radio+.pgn__form-label {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  // line-height: 120%;
  // letter-spacing: 0%;
  color: #000000CC;
  display: flex;
  align-items: center;
}

input.pgn__form-switch-input {
  appearance: none;
  border: none;
  height: 14px;
  width: 34px;
  background-color: #D8D8D8;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  background-image: none !important;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9D9D9D;
    box-shadow: 0 0 2px rgb(0 0 0 / .2);
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
  }

  &:checked::before {
    transform: translate(15px, -50%);
    background-color: $primary-color;
  }
}

// .pgn__selectable_box.taxonomy-tags-selectable-box input.pgn__form-switch-input.pgn__form-checkbox-input:indeterminate 
.pgn__form-switch-input:checked {
  background-color: #0785FF1A;
  background-image: none !important;
}

.pgn__form-radio-input,
.pgn__form-radio-input:focus {
  border-radius: 50%;
}

// models
.pgn__modal {
  border-radius: .75rem !important;
}

.pgn__modal.pgn__modal-lg.pgn__modal-default {
  min-width: 489px;
  width: auto;
}

.pgn__modal-header * {
  font-size: 18px !important;
  box-shadow: none !important;
}

.pgn__modal-body {
  min-height: 75px;
}

// select question

.pgn__selectable_box {
  width: 204px;
  border-radius: 12px;
}


// btn-icon threedot 
.btn-icon {
  color: $v2-black-400 !important;
  border-radius: 12px !important;
}

.btn-icon.btn-icon-primary.focus,
.btn-icon.btn-icon-primary:focus .btn-icon.btn-icon-secondary.focus,
.btn-icon.btn-icon-secondary:focus {
  box-shadow: none;
}

.btn-icon.btn-icon-primary.focus,
.btn-icon.btn-icon-primary:focus .btn-icon.btn-icon-secondary.focus,
.btn-icon.btn-icon-secondary:focus {
  box-shadow: none;
}

.btn-icon.btn-icon-primary.hover,
.btn-icon.btn-icon-primary:hover,
.btn-icon.btn-icon-primary.active,
.btn-icon.btn-icon-primary:active,
.btn-icon.btn-icon-secondary.hover,
.btn-icon.btn-icon-secondary:hover,
.btn-icon.btn-icon-secondary.active,
.btn-icon.btn-icon-secondary:active,
.btn-icon {
  background-color: transparent;
  color: #0A3055;
}

// buttons
.btn-outline-primary.focus::before,
.btn-outline-primary:focus::before,
.btn-outline-secondary.focus::before,
.btn-outline-secondary:focus::before,
.btn.focus::before,
.btn:focus::before {
  border: none !important;
}

// dropdown globbaly
.dropdown-menu,
.component-block-dropdown__menu.dropdown-menu {
  border-radius: 12px;
  padding: 10px !important;

  a {
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    // letter-spacing: 0%;
    color: rgb(0 0 0 / .8);
    border: none;
    padding: 8.5px 16px;

    &:disabled,
    &[aria-disabled="true"] {
      color: rgb(0 0 0 / .4) !important;
      cursor: not-allowed !important;
    }
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: white !important;
}

// common utils
.flex-1 {
  flex: 1;
}
.dropdown-menu > hr{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.dropdown-item.active,
.dropdown-item:active {
  color: $v2-black-400 !important;
  background-color: $v2-info-200 !important;
  outline: none !important;
}
a.disabled{
  cursor: not-allowed !important;
  pointer-events:visible !important;
}