@import 'https://cdn.jsdelivr.net/npm/@dannymichel/proxima-nova@4.5.2/index.min.css';
@import 'variables';
@import 'base/module';

$font-family-base: 'Proxima Nova' !important;

@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";
@import "~@edx/frontend-component-header/dist/index";
@import "assets/scss/variables";
@import "assets/scss/form";
@import "assets/scss/utilities";
@import "assets/scss/animations";
@import "pages-and-resources/discussions/app-list/AppList";
@import "advanced-settings/scss/AdvancedSettings";
@import "grading-settings/scss/GradingSettings";
@import "studio-home/scss/StudioHome";
@import "generic/styles";
@import "schedule-and-details/ScheduleAndDetails";
@import "course-team/CourseTeam";
@import "course-updates/CourseUpdates";
@import "export-page/CourseExportPage";
@import "import-page/CourseImportPage";
@import "taxonomy";
@import "library-authoring";
@import "files-and-videos";
@import "content-tags-drawer";
@import "course-outline/CourseOutline";
@import "course-unit/CourseUnit";
@import "course-checklist/CourseChecklist";
@import "textbooks/Textbooks";
@import "content-tags-drawer/ContentTagsDropDownSelector";
@import "content-tags-drawer/ContentTagsCollapsible";
@import "search-modal";
@import "search-manager";
@import "certificates/scss/Certificates";
@import "group-configurations/GroupConfigurations";
@import 'variables';

html>body>#root,
* {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  font-family: 'Proxima Nova' !important;
  line-height: 100%;
  letter-spacing: .5px !important;
}

// center
// .app-container {
// 	min-height: 100vh;
//   width: 100%;
// 	display: flex;
// 	flex-direction: column;
// }

// ._max-flex-width {
// 	height: 100%;
// 	flex: 1;
// 	display: flex;
// 	width: 100%;
// 	flex-direction: column;
// }

.max-w-1200 {
  width: 1200px;
  margin: 0 auto;
}

// To apply the glow effect to the selected Section/Subsection, in the Course Outline
div.row:has(> div > div.highlight) {
  animation: 5s glow;
  animation-timing-function: cubic-bezier(1, 0, .72, .04);
}

// To apply the glow effect to the selected xblock, in the Unit Outline
div.xblock-highlight {
  animation: 5s glow;
  animation-timing-function: cubic-bezier(1, 0, .72, .04);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 5px $primary-500;
  }

  100% {
    box-shadow: unset;
  }
}

body {
  background-color: $v2-info-400;

  .editor-page {
    background-color: $v2-info-400;
  }
}

mark {
  padding: 0;
}

.pgn__modal-fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh !important;
  overflow: auto;
  background-color: white;
  border-radius: 24px;
  z-index: 9;
}


// header community
.main-course-header {
  background-color: $v2-white-100 !important;
  padding: 14px 15px !important;
  height: 64px;
  border-bottom: 1px solid $v2-black-500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  div.actions-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
  }

  h1 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    // letter-spacing: 0% !important;
    color: $v2-black-400 !important;
    margin: 0;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}

.h-72 {
  height: 72px;
}

.community-header {
  border-bottom: 1px solid $v2-black-500;
  padding: 10px 15px !important;
  background-color: $v2-white-100 !important;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.course-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-image {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid $v2-black-500;
}

.course-title {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  // letter-spacing: 0% !important;
  color: $v2-black-600 !important;
  margin: 0;
}

.course-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button {
  background-color: $v2-white-100;
  border: 1px solid $v2-black-500;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  // letter-spacing: 0%;
  vertical-align: middle;
  color: $v2-black-400;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  overflow: hidden;
}

.btn-filled,
.btn-filled>span>span,
.btn-primary,
.btn-primary>span>span,
.btn-outline-primary>span>span,
.btn-outline-primary,
.tox-button:not(.tox-button--icon) {
  width: fit-content !important;
  // padding: 6px 12px !important;
  background-color: $v2-blue-600 !important;
  border-color: $v2-blue-600 !important;
  color: $v2-white-100 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  // letter-spacing: 0% !important;
  vertical-align: middle !important;
}

.btn-outline-secondary {
  width: fit-content !important;
  background-color: transparent !important;
  border-color: $v2-blue-600 !important;
  color: $v2-blue-600 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  // letter-spacing: 0% !important;
  vertical-align: middle !important;
}

.btn-outline-third,
.tox-button--secondary:not(.tox-button--icon) {
  height: fit-content !important;
  // padding: 6px 12px !important;
  width: fit-content !important;
  background-color: white !important;
  border-color: $v2-black-500 !important;
  color: $v2-black-400 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  // letter-spacing: 0% !important;
  vertical-align: middle !important;
}

._btn-sm,
.tox-button:not(.tox-button--icon) {
  padding: 6px 12px !important;
}

// common card
.card,
.raised-card {
  background-color: $v2-white-100 !important;
  border: 1px solid $v2-black-500 !important;
  border-radius: 12px !important;
  box-shadow: none !important;

  h2 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    // letter-spacing: 0% !important;
    // color: $v2-black-400 !important;
  }

  ul li,
  ol li {
    padding: 4px 0;

    button,
    a {
      color: $v2-black-300;
    }
  }
}

// _forms.scss
.section-card {
  .item-card-header {
    .dropdown {
      opacity: 0;
    }

    &:hover {
      .dropdown {
        opacity: 1;
      }
    }

    .btn-icon.btn-icon-primary.focus,
    .btn-icon.btn-icon-primary:focus {
      box-shadow: none;
    }

    .btn-icon.btn-icon-primary.hover,
    .btn-icon.btn-icon-primary:hover,
    .btn-icon.btn-icon-primary.active,
    .btn-icon.btn-icon-primary:active,
    .dropdown.show .btn-icon.btn-icon-primary {
      background-color: $v2-info-200;
      color: #0A3055;
    }
  }

  .form-control,
  .form-control:focus-visible,
  .form-control:focus-within,
  input.form-control:focus {
    height: 36px;
    border: 1px solid #0000001F;
    outline: none !important;
    // font-weight: 600;
    color: #000000CC;
    box-shadow: none !important;
    // font-family: Proxima Nova;
    font-weight: 600;
    font-style: semibold;
    font-size: 16px;
    // leading-trim: NONE;
    line-height: 100%;
    // letter-spacing: 0%;
  }

  .unit-card {

    .form-control,
    .form-control:focus-visible,
    .form-control:focus-within,
    input.form-control:focus {
      font-weight: 400;
    }

    .btn-icon.btn-icon-primary.focus,
    .btn-icon.btn-icon-primary:focus {
      box-shadow: none;
    }

  }

}

.card.dropdown-menu a {
  border-radius: 8px;
  // font-family: Proxima Nova;
  font-weight: 400;
  // font-style: Regular;
  font-size: 14px;
  // leading-trim: NONE;
  line-height: 100%;
  // letter-spacing: 0%;
  color: #000000CC;
  border: none;
  padding: 8.5px 16px;
}

// common css utilities
.pgn__form-checkbox-input,
.pgn__form-radio-input,
.pgn__form-checkbox-input:focus,
.pgn__form-radio-input:focus {
  border-radius: 4px;
  background: #FFFFFF;
  border: 1.5px solid #0000001F;
  background-position: center !important;
}

.pgn__form-checkbox-input:not(:disabled):hover,
.pgn__form-radio-input:not(:disabled):hover,
.pgn__form-switch-input:not(:disabled):hover {
  box-shadow: none;
}

.pgn__form-checkbox-input:focus::before,
.pgn__form-radio-input:focus::before {
  border: none !important;
}

.editProblemView .answer-option .pgn__form-checkbox+.pgn__form-label,
.editProblemView .answer-option .pgn__form-radio+.pgn__form-label {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  // line-height: 120%;
  // letter-spacing: 0%;
  color: #000000CC;
  display: flex;
  align-items: center;
}

input.pgn__form-switch-input {
  appearance: none;
  border: none;
  height: 14px;
  width: 34px;
  background-color: #D8D8D8;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  background-image: none !important;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9D9D9D;
    box-shadow: 0 0 2px rgb(0 0 0 / .2);
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
  }

  &:checked::before {
    transform: translate(15px, -50%);
    background-color: $primary-color;
  }
}

// .pgn__selectable_box.taxonomy-tags-selectable-box input.pgn__form-switch-input.pgn__form-checkbox-input:indeterminate 
.pgn__form-switch-input:checked {
  background-color: #0785FF1A;
  background-image: none !important;
}

.pgn__form-radio-input,
.pgn__form-radio-input:focus {
  border-radius: 50%;
}

// models
.pgn__modal {
  border-radius: .75rem !important;
}

.pgn__modal.pgn__modal-lg.pgn__modal-default {
  min-width: 489px;
  width: auto;
}

.pgn__modal-title {
  font-family: Proxima Nova;
  font-weight: 500;
  // font-style: Medium;
  font-size: 20px;
  // leading-trim: NONE;
  line-height: 1.1;
  letter-spacing: normal !important;
}

.pgn__modal-header {
  font-size: 20px !important;
  box-shadow: none !important;
  padding-bottom: 0 !important;
  min-height: unset !important;
}

.pgn__modal .pgn__modal-header {
  padding-bottom: 16px !important;
}

.pgn__modal-close-container {
  top: 5px !important;
}

.pgn__modal-footer {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pgn__modal-body.editor-modal-body {
  min-height: 75px !important;
}

.pgn__modal-body.pgn__modal-body-scroll-top.pgn__modal-body-scroll-bottom::before,
.pgn__modal-body.pgn__modal-body-scroll-top.pgn__modal-body-scroll-bottom::after,
.pgn__modal-body.pgn__modal-body-scroll-top::after,
.pgn__modal-body::before,
.pgn__modal-body.pgn__modal-body-scroll-bottom::after,
.pgn__modal-body::after,
.pgn__scrollable-body.pgn__scrollable-body-scroll-top.pgn__scrollable-body-scroll-bottom::after,
.pgn__scrollable-body.pgn__scrollable-body-scroll-top.pgn__scrollable-body-scroll-bottom::before,
.unit-navigation .previous-button:focus:before,
.unit-navigation .next-button:focus:before,
.tox .tox-statusbar,
[dir="ltr"] .pgn__scrollable-body::before,
[dir="ltr"] .pgn__scrollable-body::after,
.pgn__scrollable-body.pgn__scrollable-body-scroll-top::after,
.pgn__scrollable-body.pgn__scrollable-body-scroll-bottom::after {
  display: none !important;
}

.btn:focus-visible {
  outline: none !important;
}

.pgn__modal-body {
  min-height: unset !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;

  .pgn__modal-body-content p {
    font-family: Proxima Nova;
    font-weight: 400;
    // font-style: Regular;
    font-size: 16px;
    // leading-trim: NONE;
    line-height: 120%;
    letter-spacing: normal !important;
    color: $v2-black-400;
  }
}

.pgn__modal-md {
  max-width: 448px;
}


// Question component model text-component
.pgn__modal.editor-question-text-model,
.pgn__modal.editor-question-problem-model {
  width: 760px !important;
}

.pgn__modal.editor-question-video-model {
  width: 600px !important;
}

.pgn__modal.editor-question-select-type-model {
  width: 480px !important;
}


// select question

.pgn__selectable_box {
  width: 204px;
  border-radius: 12px;
}


// btn-icon threedot 
.btn-icon {
  color: $v2-black-400 !important;
  border-radius: 12px !important;
  min-width: 2.75rem;
  outline: none !important;
  box-shadow: none !important;
}

.btn-icon.btn-icon-primary.focus,
.btn-icon.btn-icon-primary:focus .btn-icon.btn-icon-secondary.focus,
.btn-icon.btn-icon-secondary:focus {
  box-shadow: none;
  outline: none !important;
}

.btn-icon.btn-icon-primary.focus,
.btn-icon.btn-icon-primary:focus .btn-icon.btn-icon-secondary.focus,
.btn-icon.btn-icon-secondary:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-icon.btn-icon-primary.hover,
.btn-icon.btn-icon-primary:hover,
.btn-icon.btn-icon-primary.active,
.btn-icon.btn-icon-primary:active,
.btn-icon.btn-icon-secondary.hover,
.btn-icon.btn-icon-secondary:hover,
.btn-icon.btn-icon-secondary.active,
.btn-icon.btn-icon-secondary:active,
.btn-icon {
  background-color: transparent;
  color: #0A3055;
  outline: none !important;
  box-shadow: none !important;
}

// buttons
button:focus,
button:focus-visible {
  // border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-primary.focus::before,
.btn-outline-primary:focus::before,
.btn-outline-secondary.focus::before,
.btn-outline-secondary:focus::before,
.btn.focus::before,
.btn:focus::before {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

// dropdown globbaly
.dropdown-menu,
.component-block-dropdown__menu.dropdown-menu {
  border-radius: 12px;
  padding: 10px !important;

  a {
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    // letter-spacing: 0%;
    color: rgb(0 0 0 / .8);
    border: none;
    padding: 8.5px 16px;

    &:disabled,
    &[aria-disabled="true"] {
      color: rgb(0 0 0 / .4) !important;
      cursor: not-allowed !important;
    }
  }
}

.cm-editor,
.cm-focused {
  outline: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: white !important;
}

// common utils
.flex-1 {
  flex: 1;
}

.dropdown-menu>hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $v2-black-400 !important;
  background-color: $v2-info-200 !important;
  outline: none !important;
}

a.disabled {
  cursor: not-allowed !important;
  pointer-events: visible !important;
}

.btn-sm,.btn-xs ,
.btn-group-sm>.btn {
  padding: 7px 13px;
  text-wrap: nowrap;
  overflow: hidden;
}

.btn-sm,.btn-xs {
  height: 36px;
  overflow: hidden;

  .pgn__icon__sm {
    width: 16px;
    height: 16px;
  }
}

.pgn__dropdown-toggle-iconbutton {
  transform: rotate(90deg);
}

.outline-input-parent input {
  padding-right: 75px !important;
}

.h-36 {
  height: 36px !important;
}

.icon-24 {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// xblocks unit

.xblock-edit-icon {
  cursor: pointer;

  &:hover {
    background-color: $v2-info-200 !important;
  }
}

.xblock-delete-button:hover,
.dropdown.show .xblock-delete-button {
  background-color: $v2-info-200 !important;
}

.tox-edit-area__iframe>html,
.tox-edit-area__iframe {
  cursor: text !important;
}

.tox-editor-container {

  .tox-edit-area__iframe {
    padding-bottom: 20px;
  }
}

.cursor-text {
  cursor: text;
}

.h-56 {
  height: 56px;
}

.question-select-row .pgn__selectable_box-set.pgn__selectable_box-set--2 {
  grid-template-columns: repeat(2, 204px);
}

.welcome-user-course {
  height: 88px;
}


// svgs editor
.tox .tox-tbtn svg {
  fill: $iconColor;
  scale: 0.834 !important;
}

.tox .tox-split-button:focus {
  color: $iconColor;
  background-color: $secondaryColor !important;

  svg {
    fill: $iconColor;
  }
}

.tox .tox-tbtn {
  height: 28px;
  width: 28px;
  margin: 0 4px;
  color: $iconColor;

  &:hover {
    background-color: transparent;
    color: $iconColor;

    svg {
      fill: $iconColor;
    }
  }

  &:focus:not(.tox-tbtn--disabled) {
    color: $iconColor;

    svg {
      fill: $iconColor;
    }
  }

  &.tox-tbtn--enabled {
    background-color: $secondaryColor !important;
  }

  &.tox-tbtn--disabled {
    opacity: 0.5;
  }
}

[dir] .tox .tox-toolbar,
[dir] .tox .tox-toolbar__primary,
[dir] .tox .tox-toolbar__overflow {
  background-color: #fff;
  height: 36px;
  border-bottom: 1px solid $v2-black-500;
}

[dir="ltr"] .tox .tox-toolbar,
[dir="ltr"] .tox .tox-toolbar__primary,
[dir="ltr"] .tox .tox-toolbar__overflow {
  background: none;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-right: none !important;
}

.tox .tox-tbtn--select {
  width: fit-content;
  border: 1px solid #0000001F;
  border-radius: 4px;
  height: 28px;
  padding: 3px 5px;
  margin: 0 4px;
  text-align: center;

  &:hover {
    border: 1px solid #0000001F;
  }

  &>.tox-tbtn__select-chevron {
    display: none;
  }
}


.tox .tox-tbtn--bespoke .tox-tbtn__select-label {
  width: fit-content;
}

.tox .tox-split-button {
  align-items: center;
}

.tox .tox-toolbar__group {
  padding: 0;
}

.tox .tox-textfield,
.tox .tox-toolbar-textfield,
.tox .tox-listboxfield .tox-listbox--select,
.tox .tox-textarea {
  border-radius: 12px;
  border: 1px solid #0000001F;
  font-size: 16px;
  margin-top: 10px;
}

.tox-dialog__body-content {
  padding-top: 0px;
  padding-bottom: 5px;
}

.tox-form__group {
  margin-top: 4px;
}

.tox .tox-dialog__footer {
  border: none;
}

.tox .tox-dialog {
  border-radius: 13px !important;
  box-shadow: 0px 8px 48px 0px #00000029 !important;
}

.editor-question-video-model {
  .pgn__action-row>*+* {
    margin-inline-start: 1rem;
  }
}


.custom-scrollbar,.unit-iframe-wrapper {
  // Show and style scrollbar for WebKit browsers
  &::-webkit-scrollbar {
    width: 8px;
    background: #F6F7FA;
  }
  &::-webkit-scrollbar-thumb {
    background: #cfd8dc;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #F6F7FA;
    border-radius: 8px;
  }

  // For Firefox
  scrollbar-width: thin;
  scrollbar-color: #cfd8dc #F6F7FA;
}


.container-screen {
  height: calc(100vh - 180px);
  overflow: auto;
}

.w-fit{
  width: fit-content;
}

.card-header-sticky{
  position: sticky;
  top: 0px;
  background-color: #F6F7FA;
  z-index: 1;
  padding-top: 16px;
}

.course-badge{
  background-color: #F5F5F5;
  padding: 5px;
  font-size: 14px;
  font-family: $font-family-base;
  color: #000000CC;
  border-radius: 8px;
}