.publish-modal {
  max-width: 448px;

  .publish-modal__header {
    padding-top: 1rem;
  }

  .publish-modal__subsection:not(:last-child) {
    margin-bottom: .5rem;
  }

  .pgn__modal-close-container{
    transform: translateY(.5rem);
    top: 0;
    outline: 0;

    &:focus-visible{
      outline: 0;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}